.city-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  z-index: 100;
}

.no-results {
  text-align: center;
  font-size: 1.3rem;
  font-style: italic;
  color: #635656;
  margin-top: 20px;
}
