<!-- <app-header
  [cities]="cities"
  [showFavouritesInitial]="showFavourites"
  (toogleFavourites)="toogleFavourites()"
  (filter)="filterByContinent($event)"
>
</app-header> -->
  <app-header (filter)="filterByContinent($event)"
  (toogleFavourites)="toogleFavourites()"
   ></app-header>

<app-search-city (search)="onSearchQuery($event)"> </app-search-city>

<app-city-card-list
  [cities]="filteredCities"
  [showFavouritesInitial]="showFavourites"
  (favouriteCheck)="onFavouriteChanged($event)"
>
</app-city-card-list>

<router-outlet />

<!-- // app-header component
    -> favourite component
    -> filter component
// city-card-list component 

//search functionality -->
