<div class="app-header">
  <app-filter (filter)="filterByContinent($event)"></app-filter>
  <h1>Weather App</h1>
  <button (click)="toogleFavourites()">❤️Favourites</button>
</div>


@if(showFavourites){
<app-favourites
  [favouriteCities]="favouriteCities"
  (favouriteCheck)="onFavouriteChanged($event)"
>
</app-favourites>
}
@if (!showFavourites){
<div class="city-cards">
  @for (city of filteredCities; track city.name){
  <app-city-card
    [city]="city"
    (favouriteCheck)="onFavouriteChanged($event)"
  ></app-city-card>
  }
</div>
}

<router-outlet />
