<app-header
  [cities]="cities"
  [favouriteCities]="favouriteCities"
  [showFavourites]="showFavourites"
  (filter)="filterByContinent($event)"
  (toogleFavourites)="toogleFavourites()"
>
</app-header>

@if(showFavourites){
<app-favourites
  [favouriteCities]="favouriteCities"
  (favouriteCheck)="onFavouriteChanged($event)"
>
</app-favourites>
} @if (!showFavourites){
<div class="city-cards">
  @for (city of filteredCities; track city.name){
  <app-city-card
    [city]="city"
    (favouriteCheck)="onFavouriteChanged($event)"
  ></app-city-card>
  }
</div>
}
<router-outlet />

<!-- // app-header component
    -> favourite component
    -> filter component
// city-card-list component -->
